<div class="partner-logos wf100">
    <div class="container">
       <div id="partner-logos" class="owl-carousel owl-theme">
          <div class="item"><img src="{{ 'assets/images/plogo1.png' | theme }}" alt=""></div>
          <div class="item"><img src="{{ 'assets/images/plogo1.png' | theme }}" alt=""></div>
          <div class="item"><img src="{{ 'assets/images/plogo1.png' | theme }}" alt=""></div>
          <div class="item"><img src="{{ 'assets/images/plogo1.png' | theme }}" alt=""></div>
          <div class="item"><img src="{{ 'assets/images/plogo1.png' | theme }}" alt=""></div>
          <div class="item"><img src="{{ 'assets/images/plogo1.png' | theme }}" alt=""></div>
          <div class="item"><img src="{{ 'assets/images/plogo1.png' | theme }}" alt=""></div>
          <div class="item"><img src="{{ 'assets/images/plogo1.png' | theme }}" alt=""></div>
          <div class="item"><img src="{{ 'assets/images/plogo1.png' | theme }}" alt=""></div>
          <div class="item"><img src="{{ 'assets/images/plogo1.png' | theme }}" alt=""></div>
       </div>
    </div>
 </div>