title = "Sənədlər"
url = "/haqqimizda/senedler/:type?"
layout = "main"
description = "test"
is_hidden = 0

[viewBag]
localeTitle[en] = "Documents"
localeUrl[en] = "/about/documents/:type?"
==

public function onStart() {
   
   $locale = app()->getLocale();
   
   $types = [
      'az' => [
         [
            'name' => 'Normativ hüquqi baza',
            'slug' => 'normativ-huquqi-baza',
         ],
         [
            'name' => 'Maliyyə hesabatları',
            'slug' => 'maliyye-hesabatlari',
         ],
      ],
      'en' => [
         [
            'name' => 'Normativ hüquqi baza',
            'slug' => 'normativ',
         ],
         [
            'name' => 'Maliyyə hesabatları',
            'slug' => 'abc',
         ],
      ]
   ];

   foreach($types[$locale] as $type) {
      $slugs[] = $type['slug'];
   }

   if(!in_array($this->param('type'), $slugs) && $this->param('type')) {
      return Redirect::to('/');
   }

   $this['types'] = $types[$locale];
   
   foreach($types[$locale] as $key => $type) {
      if($type['slug'] == $this->param('type')) {
         $order = $key;
         $this['type'] = $types['az'][$order]['slug'];
      }
   }
   
}

==
{{ type }}
{% partial 'sections/breadcrumbs'
    parents=[
            {
                'title': ('Haqqımızda' | _),
                'link': 'about/about'
            },
        ] 
%}

<section class="wf100 p80 blog">
    <div class="blog-details">
       <div class="container">
          <div class="row">
             <div class="col-lg-9 col-md-8">
                <div class="blog-single-content">
                  {% if type %}
                     {% for document in company.documents if (type == document.type) %}
                        <div class="single-counter-box">
                           <div class="container w-100">
                              <div class="row d-flex align-items-center">
                                 <div class="col-md-9"><strong>{{ document.name }}</strong></div>
                                 <div class="col-md-3 text-center"> 
                                    <a href="{{ document.url | media }}" download>{{ 'Yüklə' | _ }}</a>   
                                 </div>
                              </div>
                           </div>
                        </div>
                     {% endfor %}
                  {% else %}
                     {% for document in company.documents  %}
                        <div class="single-counter-box">
                           <div class="container w-100">
                              <div class="row d-flex align-items-center">
                                 <div class="col-md-9"><strong>{{ document.name }}</strong></div>
                                 <div class="col-md-3 text-center"> 
                                    <a href="{{ document.url | media }}" download>{{ 'Yüklə' | _ }}</a>   
                                 </div>
                              </div>
                           </div>
                        </div>
                     {% endfor %}
                  {% endif %}
                </div>
             </div>

             <div class="col-lg-3 col-md-4">

               <div class="sidebar">
                  <div class="side-widget project-list-widget">
                     <h5>{{ 'Sənədlər' | _ }}</h5>
                     <ul>
                        {% for type in types %}
                           <li><a href="{{ 'about/documents' | page({type: type.slug}) }}" title="{{ type.name }}">{{ type.name }}</a></li>
                        {% endfor %}
                     </ul>
                  </div>
               </div>
               {% partial 'sidebars/about' %}
            </div>
          </div>
       </div>
    </div>
 </section>