title = "TSS Mediateka"
url = "/tss/mediateka/:type?"
layout = "main"
is_hidden = 0

[viewBag]
localeTitle[en] = "WA Medialibrary "
localeUrl[en] = "/fwta/medialibrary/:type?"
==
<?php

use Gadimlie\Company\Models\Mediateka;

public function onStart () {
    $this['medias'] = Mediateka::where('section', 'tss')->paginate(10);
}
?>
==
{% partial 'sections/breadcrumbs'
    parents=[
            {
                'title': ('TSS' | _),
                'link': ''
            }
        ] 
%}
<!--Blog Start-->
<section class="wf100 p80 blog">
    <div class="blog-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-6">
                    <div class="row">
                        {% for media in medias %}

                            {% if media.type == 'photo' %}

                            <div class="col-md-4 col-sm-4">
                                {% for image in media.gallery %}
                                    <div class="gallery-img {% if loop.index != 1 %} d-none {% endif %}" style="background-image: url({{ image.photo | media }});">
                                        <a href="{{ image.photo | media }}" data-fancybox="gallery" data-caption="{{ media.title }}"><i class="fas fa-images"></i></a>
                                    </div>
                                {% endfor %}
                                <p class="gallery-title">{{ media.title }}</p>
                             </div>

                            {% elseif media.type == 'video' %}

                            <div class="col-md-4 col-sm-4">
                                <div class="gallery-img" style="background-image: url({{ media.gallery.0.photo | media }});">
                                    <a href="{{ media.video }}" data-fancybox="gallery" data-caption="{{ media.title }}"><i class="fas fa-video"></i></a>
                                </div>
                                <p class="gallery-title">{{ media.title }}</p>
                             </div>

                            {% endif %}

                        {% endfor %}

                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    {% partial 'sidebars/tss' %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--Blog End-->