/*------------------------------------------------------------------
File Name: Color Style 
Description: Color Scheme Css File
Author: Gramotech
Author URI: http://gramotech.net/
Version: 1.2
------------------------------------------------------------------*/

@charset "utf-8";
/* CSS Document */

a.navbar-brand img{width:140px;}a.navbar-brand img{height:42px;}
				span.pdate i, .product-box:hover .pro-txt h6 a,
				.widget_product_categories ul li a:before, .sidebar .widget_nav_menu ul li a:before, .sidebar .widget_pages ul li a:before, .sidebar .widget_meta ul li a:before, .sidebar .widget_archive ul li a:before, .sidebar .widget_recent_comments ul li:before, .sidebar .widget_recent_entries ul li a:before, .sidebar .widget_categories ul li a:before, .side-widget.archives ul li a:before, .project-list-widget ul li a:before,
				.blog-large .blog-post:hover .post-txt h5 a,
				.event-post .event-txt p i,
				.blog-single-content .post-meta li i,
				.event-post:hover .event-txt h6 a,
				.footer-widget h4,
				.fp-text strong,
				.footer-widget .menu li a:hover, ul.quick-links li a:hover,
				.footer-widget a:hover,
				.product-box:hover .pro-txt h6 a,
				.instagram li a:hover,
				.sidebar .calendar_wrap table#wp-calendar tr td a,
				.sidebar .widget_rss a,
				.sidebar .widget_nav_menu ul li a:hover, .sidebar .widget_pages ul li a:hover, .sidebar .widget_meta ul li a:hover, .sidebar .widget_archive ul li a:hover, .sidebar .widget_recent_comments ul li a:hover, .sidebar .widget_recent_entries ul li a:hover, .sidebar .widget_categories ul li a:hover, .side-widget.archives ul li a:hover, .project-list-widget ul li a:hover,
				.summary .product_meta a:hover,
				.single-counter-box .countdown span strong, .single-counter-box .countdown-period,
				.single-counter-box .countdown span, .single-counter-box .countdown-amount,
				.single-counter-box .countdown span:after, .single-counter-box .countdown-section:after,
				.comment-txt h6 a:hover,
				span.reply-link i,
				.woocommerce #customer_login a,
				.footer-social a,
				.woocommerce ul.products li.product .price,
				.sub-menu a:hover,
				.header-style-2 .navbar .navbar-nav>li>a:hover,
				.header-style-2 .dropdown-menu a:hover, .header-style-1 .dropdown-menu a:hover,
				.counter-box p.counter-count, .button-group .button:hover, .button-group .button:active, .button-group .button.is-checked, .login-reg a:hover, .header-style-2 .navbar-expand-lg .navbar-nav .nav-link:hover, .video-img a, .h2-about-txt h3, .section-title-2 h5, .pro-hover a, .blog-post-large .post-txt .post-meta li i, .blog-post-large .post-txt h5 a:hover, .rm, .blog-small-post:hover .post-txt h5 a, .product-box .pro-txt p.pro-price, .footer-social a, .projects-grid .ser-box:hover .ser-txt h5 a, .pro-list-box:hover .pro-txt h3 a, .event-grid-2 ul.etime li, .event-grid-2 .event-post .event-txt p span, .event-grid-2 .event-post:hover .event-txt h5 a, .event-list .pro-list-box .pro-txt p.eloc i, .event-list .pro-list-box:hover .pro-txt h4 a, ul.event-meta li strong, .event-list-box .event-txt .attbtn, .event-list-two .event-list-box:hover .event-txt h4 a, .page-404-txt h1 span, .myaccount-form a, ul.comment-time li a i, .rp-box h6 a:hover, .blog-single-content .rp-box .post-meta li a:hover, .share-post a, .single-counter-box .countdown-section:after, .single-counter-box .countdown-amount, .trank, .pro-pricing, .about-video-img a, .about-text h2, .slick-slide.slick-current strong, .eco-box .econ-icon, .eco-box:hover h5, .side-widget .lastest-products strong a:hover, .side-widget.archives ul li a:before, .project-list-widget ul li a:before, nav.sidenav ul.main li a span, nav.sidenav ul.main li a:hover{
					color: #66bb6a;
				}
				.sidebar .calendar_wrap table#wp-calendar tr th,
				.sidebar .search-area button, .side-search button,
				.choose-ecova .volunteer-form input.fsubmit,
				.woocommerce #review_form #respond input#submit, .comment-form .post-btn,
				.woocommerce-form button.woocommerce-Button.button, .myaccount-form button.register,
				.cs-newsletter-form button.subscribe,
				.footer-widget .wp-tag-cloud a:hover, ul.ftags a:hover,
				.woocommerce .product span.onsale,
				.woocommerce a.added_to_cart:hover, .woocommerce ul.products li.product .button:hover
				.woocommerce ul.products li.product .onsale,
				.woocommerce nav.woocommerce-pagination ul li span.current, 
				.woocommerce nav.woocommerce-pagination ul li a:hover, 
				.woocommerce nav.woocommerce-pagination ul li span:hover, 
				.gt-pagination .page-numbers.current, 
				.gt-pagination .page-numbers:hover, 
				.gt-pagination .page-item.active .page-link, 
				.gt-pagination .page-link:hover,
				.sidebar .give-btn.give-btn-modal, li.form-submit button,
				.bav,
				td#today,
				.page-links a span.page-number:hover,
				.post-password-form input[type="submit"],
				.give-submit-button-wrap input#give-purchase-button,
				.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .add-2-cart input[type="submit"],
				.single-donation-box .give-btn:hover, .single-donation-box .give-btn.give-default-level, .single-donation-box .radio-boxes input[type=radio].css-radio+label.css-label:hover, .single-donation-box .radio-boxes input[type=radio].css-radio:checked+label.css-label,
				.sidebar .tagcloud ul li a:hover, .single-post-tags a:hover,
				.cart-box .view-link a:hover,
				#gramotech_search .close,
				#gramotech_search .btn,
				.search.search-no-results .inner form button,
				a.cart-icon:hover, a.search-icon:hover,
				.team-box .team-info ul li a:hover,
				.page-links span.page-number,
				.give-display-onpage #give-donation-level-button-wrap .give-btn:hover,  .give-display-onpage #give-donation-level-button-wrap .give-default-level, .sidebar #give-donation-level-button-wrap .give-default-level, .sidebar #give-donation-level-button-wrap .give-btn:hover, .donation-amount [id*=give-form].give-display-modal li .give-btn:hover, .radio-boxes input[type=radio].css-radio+label.css-label:hover,
				a.view-more, .campaign-box .progress .progress-bar, .donation-amount button.give-btn.give-btn-modal, #home-slider.owl-theme .owl-nav [class*=owl-]:hover, .aboutus, .cus:hover, a.lm, .slider-caption.h2slider a.active, .slider-caption.h2slider a:hover, .pro-thumb a:hover, .f-cat span a:hover, .campaign-thumb a:hover, .event-thumb a:hover, .blog-thumb a:hover, .post-thumb a:hover, .f-cat span a:hover, .campaign-thumb a:hover, .event-thumb a:hover, .blog-thumb a:hover, .instagram li a, .overlay, .video-img a:hover, section.services-area ul li:after, .mdonate, .urgent-causes .progress-bar, .radio-boxes input[type=radio].css-radio+label.css-label:hover, .radio-boxes input[type=radio].css-radio:checked+label.css-label, li.form-submit button, .current-projects .owl-theme .owl-nav [class*=owl-]:hover, .current-projects .nav-link.active, .current-projects .nav-link:hover, header .navbar-toggler, ul.ftags a:hover, .newsletter input[type=submit], .footer-social a:hover, .newsletter input[type=submit], a.read-post, .blog-slider .owl-theme .owl-nav [class*=owl-]:hover, .gt-pagination .page-item.active .page-link, .gt-pagination .page-link:hover, .dn-btn, .causes-listing ul.participants li span, .causes-listing .campaign-txt .progress .progress-bar, .causes-grid .campaign-txt .progress .progress-bar, .causes-grid ul.participants li span, .causes-grid .campaign-box a.dbutton, .ser-thumb a:hover, .projects-grid .ser-box:hover .ser-txt span.aicon, a.view, .event-list .pro-list-box:hover a.partibtn, .bav .vol-box:hover, .cform .fsubmit, .gallery-img a:hover, .page-404-txt a, .cs-newsletter-form button.subscribe, .myaccount-form button.register, .login-box, .testimonials-section.bg-white .owl-theme .owl-dots .owl-dot span:hover, .testimonials-section.bg-white .owl-theme .owl-dots .owl-dot.active span, .single-post-tags a:hover, .comment-form .post-btn, .single-donation-box .progress .progress-bar, .single-donation-box .radio-boxes input[type=radio].css-radio+label.css-label:hover, .single-donation-box .radio-boxes input[type=radio].css-radio:checked+label.css-label, .share-post a:hover, .single-counter-box a, a.contact-team, .add-2-cart input[type="submit"], .donator-details input[type="submit"], .about-video-img a:hover, .about-text a, .slick-slide.slick-current:after, .slick-slide.slick-current span:after, .slick-slide.slick-current span:before, .eco-box:hover .econ-icon, .side-search button, .side-volunteer-form .fsubmit, .overlay-search button, .mdonate, section.services-area ul li:after, .video-img a:hover, .urgent-causes .progress-bar, .radio-boxes input[type=radio].css-radio+label.css-label:hover, .radio-boxes input[type=radio].css-radio:checked+label.css-label, li.form-submit button, .current-projects .nav-link.active, .current-projects .nav-link:hover {
					background-color: #66bb6a; 
					color: #fff;
				}
				.page-links a span.page-number:hover,
				a.cart-icon, a.search-icon,
				.current-projects .owl-theme .owl-nav [class*=owl-]:hover,
				.eco-box .econ-icon,
				.single-donation-box .give-btn:hover, .single-donation-box .give-btn.give-default-level, .single-donation-box .radio-boxes input[type=radio].css-radio+label.css-label:hover, .single-donation-box .radio-boxes input[type=radio].css-radio:checked+label.css-label,
				.sidebar .tagcloud ul li a:hover, .single-post-tags a:hover,
				.cs-newsletter-form input.form-control,
				.cs-txt .countdown-section,
				.woocommerce nav.woocommerce-pagination ul li span.current, 
				.woocommerce nav.woocommerce-pagination ul li a:hover, 
				.woocommerce nav.woocommerce-pagination ul li span:hover, 
				.gt-pagination .page-numbers.current, 
				.gt-pagination .page-numbers:hover, 
				.gt-pagination .page-item.active .page-link, 
				.gt-pagination .page-link:hover,
				.footer-social a,
				.woocommerce a.added_to_cart:hover, .woocommerce ul.products li.product .button:hover
				.current-projects .owl-theme .owl-nav [class*=owl-]:hover,
				.give-display-onpage #give-donation-level-button-wrap .give-btn:hover,  .give-display-onpage #give-donation-level-button-wrap .give-default-level, .sidebar #give-donation-level-button-wrap .give-default-level, .sidebar #give-donation-level-button-wrap .give-btn:hover, .donation-amount [id*=give-form].give-display-modal li .give-btn:hover, .radio-boxes input[type=radio].css-radio+label.css-label:hover,
				.header-style-2 .navbar-expand-lg .navbar-nav .nav-link:hover,
				.header-style-2 .navbar .navbar-nav>li>a:hover,
				.choose-ecova .volunteer-form .form-control:focus, body .form-control:focus,
				.page-links span.page-number,
				.team-box .team-info ul li a:hover,
				#gramotech_search .close,
				.post-thumb a:hover, .f-cat span a:hover, .campaign-thumb a:hover, .event-thumb a:hover, .blog-thumb a:hover, .radio-boxes input[type=radio].css-radio+label.css-label:hover, .radio-boxes input[type=radio].css-radio:checked+label.css-label, .current-projects .nav-link.active, .current-projects .nav-link:hover, .gt-pagination .page-item.active .page-link, .gt-pagination .page-link:hover, .ser-thumb a:hover, .projects-grid .ser-box:hover .ser-txt span.aicon, .event-list .pro-list-box:hover a.partibtn, .gallery-img a:hover, .single-post-tags a:hover, .share-post a:hover, .slick-slide.slick-current:after, .slick-slide.slick-current span:after, .slick-slide.slick-current span:before {
					border-color: #66bb6a;  
				}
				.blog-post:hover .post-txt h5 a,
				.pro-hover a:hover,
				.check-list li:before,
				.blog-post ul.post-meta li i, .blog-post ul.post-meta li a i,
				.blog-single-content .post-meta li i,
				.blog-single-content .post-meta a:hover, .blog-single-content .post-meta li.tags a:hover,
				.causes-grid .campaign-box:hover h5 a{
					color: #33691e;
				}
				header.header-style-2 .navbar-brand,
				li.form-submit button:hover,
				.footer-widget .about-ecova .f2logo,
				.bav:hover,
				.cform .fsubmit:hover,
				.page-404-txt a:hover,
				.woocommerce #review_form #respond input#submit:hover, .comment-form .post-btn:hover,
				.single-counter-box a:hover,
				.donator-details input[type="submit"]:hover,
				.about-text a:hover,
				.blog-post:hover a.read-post,
				.side-volunteer-form .fsubmit:hover {
					background-color: #33691e;
				}
				.color_scheme2{
					border-color: #33691e;
				}
				.woocommerce div.product p.price, .woocommerce div.product span.price{
					color: #1b5e20;
				}
				.causes-grid .campaign-box:hover .campaign-txt .progress .progress-bar, .causes-grid .campaign-box:hover a.dbutton,
				header.header-style-2, .donation-amount button.give-btn.give-btn-modal:hover, a.view-more:hover, .footer-widget .about-ecova, .blog-post.blog-link, .woocommerce-form button.woocommerce-Button.button:hover, .login-box button.login-btn:hover, .myaccount-form button.register:hover, a.contact-team:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .newsletter input[type=submit]:hover, a.lm:hover, .add-2-cart input[type="submit"]:hover, a.view:hover, .side-search button:hover, .choose-ecova .volunteer-form input.fsubmit:hover, #gramotech_search .btn:hover, .aboutus:hover, .give-submit-button-wrap input#give-purchase-button:hover, header.header-style-1.inner{
					background-color: #1b5e20;
				}
				.color-scheme3{
					border-color: #1b5e20;
				}