/*------------------------------------------------------------------
File Name: Internal Style 
Description: Internal Styles Css File
Author: Gramotech
Author URI: http://gramotech.net/
Version: 1.2
------------------------------------------------------------------*/ 

.internal-styles{
	outline:none;
}

