.elementor-2669 .elementor-element.elementor-element-2bcb02b>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2669 .elementor-element.elementor-element-86f817a>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2669 .elementor-element.elementor-element-55fc20f>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2669 .elementor-element.elementor-element-4b035b6>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2669 .elementor-element.elementor-element-ab26853:not(.elementor-motion-effects-element-type-background),
.elementor-2669 .elementor-element.elementor-element-ab26853>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("{{'../../2019/01/mappatt-1-2-1.jpg' | theme }}");
  color: red !important;
}

.elementor-2669 .elementor-element.elementor-element-ab26853 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2669 .elementor-element.elementor-element-ab26853>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2669 .elementor-element.elementor-element-6c4ab2f>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2669 .elementor-element.elementor-element-89be342:not(.elementor-motion-effects-element-type-background),
.elementor-2669 .elementor-element.elementor-element-89be342>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("{{'../../2019/01/news-artilcesbg-1-2-1.jpg' | theme }}");
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2669 .elementor-element.elementor-element-89be342 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2669 .elementor-element.elementor-element-89be342>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2669 .elementor-element.elementor-element-066260f>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2669 .elementor-element.elementor-element-5966a09:not(.elementor-motion-effects-element-type-background),
.elementor-2669 .elementor-element.elementor-element-5966a09>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("{{'../../2019/01/whybg-1-2-1.jpg' | theme }}");
	background-repeat: no-repeat;
}

.elementor-2669 .elementor-element.elementor-element-5966a09 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2669 .elementor-element.elementor-element-5966a09>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2669 .elementor-element.elementor-element-c7d3f11>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2669 .elementor-element.elementor-element-3147fdb>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2669 .elementor-element.elementor-element-9168ac2>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}