title = "BSP Xəbərlər"
url = "/bsp/xeberler"
layout = "main"
is_hidden = 0

[viewBag]
localeTitle[en] = "BIP News"
localeUrl[en] = "/bip/news"

[proBlogList]
postsPerPage = 10
filter_type = "none"
parent = "bsp/news"
render = "none"
==
{% partial 'sections/breadcrumbs'
    parents=[
            {
                'title': ('BSP' | _),
                'link': ''
            }
        ] 
%}
<!--Blog Start-->
<section class="wf100 p80 blog">
    <div class="blog-details">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="row">
                        {% for post in blogPosts.toArray().data %}
                            <div class="col-md-6 col-sm-9">
                                <div class="blog-post">
                                    {% for image in post.featured_images | slice(0.1)%}
                                    <div class="blog-thumb"> <a href="#"><i class="fas fa-link"></i></a> 
                                        <img src="{{ image.path}}" alt="{{post.title}}">
                                    </div>
                                    {% endfor %}
                                    <div class="post-txt">
                                        <h5><a href="#">{{ post.title }}</a></h5>
                                        <ul class="post-meta">
                                            <li><i class="fas fa-calendar-alt"></i> {{ post.published_at }}</li>
                                        </ul>
                                        <p>{{ post.excerpt }}</p>
                                        <a href="#" class="read-post">{{ 'Ətraflı oxu' }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    {% partial 'sidebars/bsp' %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--Blog End-->