title = "Rezident"
url = "/bsp/rezidentler/:id"
layout = "main"
is_hidden = 0

[viewBag]
localeTitle[en] = "Resident"
localeUrl[en] = "/bip/residents/:id"

[bspContactForm]
==
<?php
use Gadimlie\Residents\Models\Resident;
public function onStart() {
    $resident = Resident::find($this->param('id'));
   // $this->page->title = $resident->title;
    $this['resident'] = $resident;
}
?>
==
{% partial 'sections/breadcrumbs'
parents=[
    {
        'title': ('Balaxanı Sənayə Parkı' | _),
        'link': 'bsp/about'
    }
]
%}
<section class="wf100 p80 blog">
    <div class="blog-details">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 col-md-12">
                    <!--Blog Single Content Start-->
                    <div class="blog-single-content">
                        {{ resident.description | raw }}
                        <div class="demo" style="margin: 0 auto">
                            <div class="item">
                                <div class="clearfix" style="max-height: 50%;">
                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden image-row">
                                        {% for image in resident.images %}
                                        <li data-thumb="{{ image.image | media }}">
                                            <a class="gallery-item" href="{{ image.image | media }}" style=""
                                                data-fancybox="gallery">
                                                <img src="{{ image.image | media }}" width="100%" height="100%" />
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% if resident.youtube %}
                        <h5>{{ 'Video' | _ }}</h5>
                        <iframe src="{{ resident.youtube }}"></iframe>
                        {% endif %}

                    </div>
                    <div class="comment-form">
                        <h4>{{ 'Bizimlə Əlaqə Saxlayın' | _ }}</h4>
                        {% component "bspContactForm" %}
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    {% partial 'sidebars/bsp' %}
                </div>

            </div>
        </div>
    </div>
</section>