==
<!--Sidebar Start-->
          <div class="col-lg-3 col-md-4 pull-right">
            <div class="sidebar">
              <div id="search-2" class="side-widget widget_search gramotech-widget">
                <form class="search-area" method="get" action="index.html">
                  <div class="form-group">
                    <input type="text" class="form-control" name="s" placeholder="Enter Your Search ..." value="" />
                  </div>
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </form>
              </div>
              <div id="projects_list-5" class="side-widget widget_projects_list gramotech-widget">
                <div class="project-list-widget">
                  <ul>
                    <li><a href="{{ 'bizim-haqqimizda' | page }}">{{ 'Bizim haqqımızda' |_ }}</a></li>
                    <li><a href="{{ 'teshkilati-struktur' | page}}">{{ 'Təşkilatı struktur' |_ }}</a></li>
                    <li><a href="{{ 'appelyasiya-shurasi' | page}}">{{ 'Appelyasiya şürası' |_ }}</a></li>
                    <li><a href="{{ 'senedler' | page}}">{{ 'Sənədlər' |_ }}</a></li>
                    <li><a href="{{ 'siyasetimiz-ve-sertifikatlarimiz' | page}}">{{ 'Siyasət və sertifikatlar' |_ }}</a></li>
                    <li><a href="{{ 'tenderler' | page}}">{{ 'Tenderlər' |_ }}</a></li>
                    <li><a href="{{ 'karyera' | page}}">{{ 'Karyera' |_ }}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--Sidebar End-->