<div class="sidebar">
   <!--Widget Start-->
   <div class="side-widget project-list-widget">
      <h5 class="text-center">{{ company.name }}</h5>
      <ul>
         <li class="py-2"><a href="{{ 'about/about' | page }}" title="{{ 'Bizim haqqımızda' | _ }}">{{ 'Bizim haqqımızda' | _ }}</a></li>
         <li class="py-2"><a href="{{ 'about/structure' | page }}">{{ 'Təşkilatı struktur' | _ }}</a></li>
         <li class="py-2"><a href="{{ 'about/appeals' | page }}">{{ 'Appelyasiya şürası' | _ }}</a></li>
         <li class="py-2"><a href="{{ 'about/documents' | page }}">{{ 'Sənədlər' | _ }}</a></li>
         <li class="py-2"><a href="{{ 'about/certificates' | page }}">{{ 'Siyasət və sertifikatlar' | _ }}</a></li>
         <li class="py-2"><a href="{{ 'about/tenders' | page }}">{{ 'Tenderlər' | _ }}</a></li>
         <li class="py-2"><a href="{{ 'about/careers' | page }}">{{ 'Karyera' | _ }}</a></li>
      </ul>
   </div>
   <!--Widget End--> 
   <!--Widget Start-->
   <div class="side-widget side-volunteer-form">
   <div class="sidebar-widget">
      <a href="{{ company.receive | media }}" class="lm fsubmit">{{ 'Vətəndaşların qəbulu qrafiki' | _ }}</a> 
   </div>
   </div>
   <!--Widget End--> 
</div>
 