<div class="sidebar">
  <!--Widget Start-->
  <div class="side-widget project-list-widget">
    <h5>{{ 'Balaxanı Sənayə Parkı' | _ }}</h5>
    <ul>
      <li><a href="{{ 'bsp/about' | page }}" title="{{ 'BSP Haqqında' | _ }}">{{ 'BSP Haqqında' | _ }}</a>
      </li>
      <li><a href="{{ 'bsp/documents' | page }}" title="{{ 'Sənədlər' | _ }}">{{ 'Sənədlər' | _ }}</a></li>
      <li><a href="{{ 'bsp/news' | page }}" title="{{ 'Xəbərlər' | _ }}">{{ 'Xəbərlər' | _ }}</a></li>
      <li><a href="{{ 'bsp/residents' | page }}" title="{{ 'Rezidentlərimiz' | _ }}">{{ 'Rezidentlərimiz' | _ }}</a></li>
      <li><a href="{{ 'bsp/media' | page }}" title="{{ 'Mediateka' | _ }}">{{ 'Mediateka' | _ }}</a></li>
      <li><a href="{{ 'bsp/contacts' | page }}" title="{{ 'Əlaqə' | _ }}">{{ 'Əlaqə' | _ }}</a></li>
    </ul>
  </div>
  <!--Widget End-->
  <!--Widget Start-->

  <!--Widget End-->
</div>