<div class="sidebar">
  <!--Widget Start-->
  <div class="side-widget project-list-widget">
    <h5 class="text-center">{{ 'İctimaiyyətlə əlaqələr' |_ }}</h5>
    <ul>
      <li class="py-2"><a {% if this.page.id == 'pr-news' or this.page.id == 'pr-news_detailed' %} class="active" {% endif %} href="{{ 'pr/news' | page }}" title="{{ 'Xəbərlər' | _ }}">{{ 'Xəbərlər' | _ }}</a>
      </li>
      <li class="py-2"><a {% if this.page.id == 'pr-media' or this.page.id == 'pr-media_detailed' %} class="active" {% endif %} href="{{ 'pr/media' | page }}" title="{{ 'Mediateka' | _ }}">{{ 'Foto və video' | _ }}</a></li>
      <li class="py-2"><a {% if this.page.id == 'pr-press' or this.page.id == 'pr-press_detailed' %} class="active" {% endif %} href="{{ 'pr/press' | page }}" title="{{ 'Press-relizlər' | _ }}">{{ 'Press-relizlər' | _ }}</a></li>
      <li class="py-2"><a {% if this.page.id == 'pr-tours' or this.page.id == 'pr-tour-detailed' %} class="active" {% endif %} href="{{ 'pr/tours' | page }}" title="{{ 'Məlumat turları' | _ }}">{{ 'Məlumat turları' | _ }}</a></li>
      <li class="py-2"><a {% if this.page.id == 'pr-lessons' or this.page.id == 'pr-lesson-detailed' %} class="active" {% endif %} href="{{ 'pr/lessons' | page }}" title="{{ 'Ustad dərsləri' | _ }}"">{{ 'Ustad dərsləri' | _ }}</a></li>
    </ul>
  </div>
  <!--Widget End-->
  <!--Widget Start-->

  <!--Widget End-->
</div>