title = "Əlaqə"
url = "/elaqe"
layout = "main"
description = "test"
is_hidden = 0

[viewBag]
localeTitle[en] = "Contacts"
localeUrl[en] = "/contacts"
[mainContactForm]
==

{% partial 'sections/breadcrumbs' %}

<!--Contact Start-->
<section class="contact-page wf100 p80">
    <div class="container">
       <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
             <div class="contact-form mb60">
                  <h3>{{ 'Bizimlə əlaqə' | _ }}</h3>
                  {% component 'mainContactForm' %}
             </div>
          </div>
          <div class="col-md-12">
             <div class="google-map">
                <div class="contact-map-info">
                   <address>
                      <ul>
                         <li>
                            <strong class="add-title">{{ 'Ünvan' | _ }}: </strong>{{ company.address }}
                              
                         </li>
                         <li>
                            <strong class="add-title">{{ 'Əlaqə' | _ }}:</strong>
                            <p><strong>{{'Telefon' | _}}:</strong>  {% for phone in company.phone %}{{ phone.phone }}<br> {% endfor %}</p>

                         </li>
                         <li>
                            <p><strong>{{'Elektron ünvan'}}:</strong> </p>
                           <p>{% for email in company.email %} {{ email.email }}<br> {% endfor %}</p>
                         </li>
                      </ul>
                   </address>
                </div>
                <iframe src="{{ company.gmaps }}"></iframe>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--Contact End--> 