title = "Əsas səhifə"
url = "/"
layout = "main"
is_hidden = 0

[viewBag]
localeTitle[en] = "Home page"
localeUrl[en] = "/"
==
<?php
use Radiantweb\Problog\Models\Post;

   public function onStart() {
      $this['news'] = Post::where('parent', 'pr/news')->orderBy('published_at', 'DESC')->take(3)->get();
      $this['presses'] = Post::where('parent', 'pr/press')->orderBy('published_at', 'DESC')->take(3)->get();
   }
?>
==
<section id="home-slider" class="owl-carousel owl-theme wf100">
   {% for slider in sliders.slider %}
   <div class="item" style="background-image:url({{ slider.image | media }})">
      <div class="slider-caption h2slider">
         <div class="container slider-container">
            <p class="slider-slogan">{{ slider.slogan }}</p>
            {% if slider.btn_txt_1 and slider.btn_url_1 %}
               <a href="{{ slider.btn_url_1 }}" class="active">{{ slider.btn_txt_1 }}</a>
            {% endif %}
            {% if slider.btn_txt_2 and slider.btn_url_2 %}
            <a href="{{ slider.btn_url_2 }}">{{ slider.btn_txt_2 }}</a>
            {% endif %} 
        </div>
      </div>
   </div>
  {% endfor %}
</section>


<section class="home2-about wf100 p100 gallery">
  <div class="container">
     <div class="row">
        <div class="col-md-5 align-items-center">
            <div class="video-img" style="background-image: url({{ company.image | media }});"> 
                  <a href="{{ company.video }}" data-fancybox="gallery" data-caption="{{ company.name }}">
                     <i class="fas fa-play"></i>
                  </a> 
            </div>
        </div>
        <div class="col-md-7">
           <div class="h2-about-txt">
              <h3>{{ 'Haqqımızda' | _ }}</h3>
              <h2>{{ company.name }}</h2>
              <p>{{ company.slogan }}</p>
              <a class="aboutus" href="{{ 'about/about' | page }}">{{ 'Ətraflı oxu' | _ }}</a> 
           </div>
        </div>
     </div>
  </div>
</section>


<section class="wf100 p80 current-projects">
  <div class="container">
     <div class="row">
        <div class="col-lg-6">
           <div class="section-title-2">
              <h2>{{ 'Layihələrimiz' | _ }}</h2>
           </div>
        </div>
     </div>
     <div class="row">
         <div class="col-md-12">
            <div class="cpro-slider owl-carousel owl-theme">
               {% for project in projects %}
                  <div class="item">
                     <div class="pro-box" style="background-image: url({{ project.image | media }});">
                        <h5>{{ project.title }}</h5>
                        <div class="pro-hover">
                           <h6>{{ project.title }}</h6>
                           <a href="{{ 'projects/detailed' | page({id: project.id}) }}">{{ 'Ətraflı bax' | _ }}</a> 
                        </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
     </div>
  </div>
</section>

<!--News & Articles Start-->
<section class="h2-news wf100 p80">
  <div class="container">
     <div class="row">
        <div class="col-md-6">
           <div class="section-title-2 m-0">
              <h2>{{ 'Xəbərlər' | _ }}</h2>
           </div>
        </div>
        <div class="col-md-6"> 
           <a href="{{ 'pr/news' | page }}" class="view-more m-0">{{ 'Hamısına baxın' | _ }}</a> 
         </div>
     </div>
      <div class="row">
         {% for post in news %}
            {% if loop.index == 1 %}
            <div class="col-md-6">
                  <div class="blog-post-large">
                     <div class="post-thumb" style="background-image: url({{ post.featured_images[0].path }});"></div>
                     <div class="post-txt">
                        <ul class="post-meta">
                           <li><i class="fas fa-calendar-alt"></i> {{ post.published_at | date('d.m.Y') }}</li>
                        </ul>
                        <h5><a href="{{ 'pr/news_detailed' | page({id:post.id}) }}">{{ post.title }}</a></h5>
                     </div>
                  </div>
            </div>
            {% else %}
               {% if loop.index == 2 %}
                  <div class="col-md-6">
               {% endif %}
                  <div class="blog-small-post">
                     <div class="post-txt">
                        <span class="pdate"> <i class="fas fa-calendar-alt"></i> {{ post.published_at | date('d.m.Y') }}</span>
                        <h5><a href="{{ 'pr/news_detailed' | page({id:post.id}) }}">{{ post.title }}</a></h5>
                        <a href="{{ 'pr/news_detailed' | page({id:post.id}) }}" class="rm">{{ 'Ətraflı oxu' | _ }}</a> 
                     </div>
                  </div>
               {% if loop.index == 3 %}
                  </div>
               {% endif %}
            {% endif %}
         {% endfor %}
      </div>
     </div>
  </div>
</section>

<section class="online-shop wf100 pt80">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="section-title-2 text-center">
              <h2>{{ 'Press-Relizlər' | _ }}</h2>
           </div>
        </div>
     </div>
     <div class="row">
         {% for post in presses %}
            <div class="col-md-4 col-sm-6">
               <div class="blog-post">
                  <div class="blog-thumb" style="background-image: url({{ post.featured_images[0].path }});"></div>
                  <div class="post-txt">
                     <h5><a href="{{ 'pr/press_detailed' | page({id: post.id}) }}">{{ post.title }}</a></h5>
                     <ul class="post-meta">
                        <li> <a href="{{ 'pr/press_detailed' | page({id: post.id}) }}"><i class="fas fa-calendar-alt"></i>{{ post.published_at | date('d.m.Y') }}</a> </li>
                     </ul>
                     <a href="{{ 'pr/press_detailed' | page({id: post.id}) }}" class="read-post">{{ 'Ətraflı oxu' | _ }}</a>
                  </div>
               </div>
            </div>
         {% endfor %}
     </div>
  </div>
</section>

<div class="partner-logos wf100">
   <div class="container">
      <div id="partner-logos" class="owl-carousel owl-theme">
         {% for partner in company.partners %}
         <div class="item" style="background-image: url({{ partner.image | media }});"></div>
         {% endfor %}
      </div>
   </div>
</div>