title = "Layihələr"
url = "/layiheler"
layout = "default"
is_hidden = 0

[viewBag]
localeUrl[en] = "/projects"
[projects]
==
{% partial 'inner_header' %}
<div class="gramotech-content">
  <div class="gramotech-content-area">
    <div data-elementor-type="wp-page" data-elementor-id="2827" class="elementor elementor-2827"
      data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section
            class="elementor-section elementor-top-section elementor-element elementor-element-0fa4be7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="0fa4be7" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div
                  class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-65f8e06"
                  data-id="65f8e06" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-ad623dc elementor-widget elementor-widget-projects"
                        data-id="ad623dc" data-element_type="widget" data-widget_type="projects.default">
                        <div class="elementor-widget-container">
                          <div class="projects-list">
                            {% for project in projects %}
                            <div class="pro-list-box">
                              <div class="pro-thumb">
                                <a href="{{ 'layihe-detallari' | page({id: project.id}) }}" class="mt-5"><i class="fas fa-link"></i></a>
                                <img width="362" height="302" src="{{ project.image | media }}"
                                  class="attachment-gramotech-projects-list size-gramotech-projects-list wp-post-image"
                                  alt="" loading="lazy" />
                              </div>
                              <div class="pro-txt">
                                <h3> <a href="{{ 'layihe-detallari' | page({id: project.id}) }}">{{ project.title }}</a> </h3>
                                <p> {{ project.description | raw }}</p>
                                <a href="{{ 'layihe-detallari' | page({id: project.id}) }}" class="view">{{ 'Daha ətraflı' |_}}</a>
                              </div>
                            </div>
                            {% endfor %}


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2bf3328"
                  data-id="2bf3328" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-c476efb elementor-widget elementor-widget-widget-area"
                        data-id="c476efb" data-element_type="widget" data-widget_type="widget-area.default">
                        <div class="elementor-widget-container">

                          <div class="shortcode-widget-area sidebar">
                            <div id="search-4" class="side-widget widget_search gramotech-widget">
                              <h5 class="widget-title">Search</h5>
                              <form class="search-area" method="get" action="index.html">
                                <div class="form-group">
                                  <input type="text" class="form-control" name="s" placeholder="Enter Your Search ..."
                                    value="" />
                                </div>
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                              </form>
                            </div>

                            <div id="projects_list-3" class="side-widget widget_projects_list gramotech-widget">
                              <div class="project-list-widget">

                                <h5 class="widget-title">Current Projects</h5>
                                <ul>
                                  {% for project in projects %}
                                  <li><a href="{{ 'layihe-detallari' | page({id: project.id}) }}">{{ project.title }}</a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>